body {
 background-image: url("https://media.wired.com/photos/598e35994ab8482c0d6946e0/master/w_2560%2Cc_limit/phonepicutres-TA.jpg");
}

.img {
  width: 100px;
  height: 200px;
}

.opacity_text {
  opacity: 1; /* прозрачность элемента 1 - 100%; 0,5 - 50%; 0,3- 30% 
  прозрачным становиться и др элементы, если жто свойство не оборачивать в др элемент
  , например и бэкграунд колор*/
  background-color: cornflowerblue;
}