.header {
  font-weight: bold;
  font-size: 25px;
  padding-top: 20px;
}

.under_header {
  font-size: 18px;
  font-weight: bold;
}

/* Даём изображению дисплей блок и размер 
.plane{
  display: block;
  width: 200px;
  height: 200px;
  border: solid blue 5px;
}
*/

/*Второй способ размещения изображения и задавания
 ему размеров*/

.img_plane {
  display: block;
  width: 200px;
  height: 200px;
  border: solid blue 5px;
}

.img_plane > img {  /*третий вариант стилей для img*/
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.text_italic {
  max-width: 800px;
  padding-top: 20px;
  font-style: italic;
}

.list {
  padding-top: 20px;
}

ul {
  list-style: circle;
}
